.cuadro {
  display: flex;
  background-color: rgb(23, 28, 40);
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  flex-direction: column;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.menu {
  width: 30px;
  height: 10px;
}
h1 {
  font-size: 80px;
}

.say {
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  width: 400px;
}

button{
  border : none ; 
  padding: .7em 1.6em;
  text-decoration: none;
  border-radius: 5px;




}

.bajo {
  display: flex;
  align-items: center;
  justify-content:space-evenly ;
  margin-top: 110px;
  margin-bottom: 100px;
}

.infoimg {
 width: 150px;
}